@font-face {
  font-family: 'mabry';
  src: url('/assets/fonts/Mabry Pro.otf');
}
@font-face {
  font-family: 'mabry medium';
  src: url('/assets/fonts/Mabry Pro Medium.otf');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.leaflet-container a {
  color: white !important;
}
.map .leaflet-popup-content p,
.map .leaflet-popup-content {
  margin: 0;
}
.map .leaflet-popup-content {
  /* padding: 10px; */
}
.map .leaflet-popup-content-wrapper {
  border-radius: 30px;
  padding: 0;
}
.leaflet-container a.leaflet-popup-close-button {
  display: none;
}
